.demo-card-wide.mdl-card__media > img {
  width: 100%;
}
.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}
.mdl-card__media {
  margin: 0;
}
.demo-card-wide.mdl-card {
  width: 100%;
}
body {
  padding-top: 50px;
}
.spacer {
  padding-top: 75px;
}
.addon {
  background: #fff;
  border: 1px solid #C0CAE3;
  margin-bottom: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.addon li {
  padding: 10px;
  border-top: 1px solid #eee;
  overflow: hidden;
}
.addon li {
  list-style:none;
}

.clearfix {
  display: block;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
} ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
ul {
  list-style: none;
}
.round {
  border-radius:100%;
  display: block;
  height: 48px;
  width: 49px;
  float: left;
}
.addon li em {
  background: url(http://d1dls1ko4h0b59.cloudfront.net/assets/campaign-legend-d95e12bce50a8e18d8bd3c96383c352f.png) no-repeat;
  display: block;
  height: 48px;
  width: 49px;
  float: left;
}
.addon li em.extra {
  background-position: -118px 0;
}
.addon li em.hot {
  background-position: -58px 0;
}
.addon p {
  padding: 10px 15px;
  margin: 0;
  font: 600 16px/22px "myriad-pro",Arial,"Helvetica Neue",Helvetica,sans-serif;
}
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.addon li .legend-info {
  float: left;
  margin-left: 10px;
  width: 155px;
}

.addon strong {
  display: block;
  margin: 0 0 4px;
}

strong {
  font-weight: bold;
}

