<div class="panel panel-default">
  <div class="panel-heading">Tweets

  </div>

    <div class="addon" style="overflow-y: scroll; height:400px;">

      <div *ngIf="tweets.length === 0" class="loading"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>



      <ul>
        <li *ngFor="let tweet of tweets" class="animated fadeIn clearfix">
          <a href="http://twitter.com/{{tweet.user}}" target="_blank">
            <img class="round" src="{{tweet.image}}">
            <div class="legend-info">
              <strong>{{tweet.user}}</strong>{{tweet.text}}
            </div></a>

        </li>


      </ul>
    </div>

</div>


